.pane {
  background: #111;
}

body, button, input, select, textarea, .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
  font-family: 'Ubuntu Condensed', sans-serif;
}
@media all and (min-width: 1025px) {
  html {
    height: 100%;
    min-height: 100%;
    overflow: auto;
  }
  body {
    background: fixed url(../img/bg.jpg) center no-repeat;
    background-size: cover;
  }
  .iphoneLayout {
    width: 385px;
    height: 687px;
    background: url(../img/iphone.png) center no-repeat;
    margin: 20px auto;
    ion-nav-view {
      overflow: hidden;
      width: 320px;
      height: 464px;
      margin: 114px 0 0 40px;
    }
  }
  .modal {
    top: 20%;
    bottom: 20%;
    left: 50%;
    margin-left: -250px;
    width: 500px;
  }
}

.button-fb{
  background-color: #0054a6!important;
  color: #fff;
  border:none;
}
.button-tw{
  background-color: #00a0f0!important;
  color: #fff;
  border:none;
}