.s_adv_after-share {
  background-position: center;
  background-repeat: no-repeat;
      background-size: contain;
  .fake {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-filter: blur(10px);
    opacity: 0.3;
    background-size: cover;
  }
  .remove {
    position: absolute;
    font-size: 30px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    right: 5px;
    top: 5px;
    text-align: center;
    z-index: 3;
  }
  a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    z-index: 2;
  }
}
